<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/map.geo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.12.1.custom/external/jquery/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/spectrum.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jsPDF/dist/jspdf.min.js")"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVMh5lFcTxtkxXrL7uXJ6Qd3fSdStbvfs&callback=InitGoogleMap" type="text/javascript"></script>

    <link rel="stylesheet" href="@Url.Content("~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Style.css")">
    <link rel="stylesheet" media="screen" type="text/css" href="@Url.Content("~/Content/spectrum.css")" />


</head>
<body>
    @RenderBody()
</body>
</html>
